body {
 background: black;
 font-family: Tahoma, Arial, sans-serif;
 color: #333;
 color: white;
}
.content{
 width: 960px;
 margin-left: auto;
 margin-right: auto;

}
p {
 font-size: 14px;
 margin-bottom: 0;
}
h1 {
 font-family: Bastion;
}
a{
 color: red;
}
.image {
 display: block;
 width: 318px;
 margin-left: auto;
 margin-right: auto;
}
.image-hov {
 display: block;
 width: 360px;
 margin-left: auto;
 margin-right: auto;
}
.header{
width: 960px;
margin-left: auto;
margin-right: auto;
}
.regpage{
width: 960px;
margin-left: auto;
margin-right: auto;
}
.one-post {
width: 960px;
margin-left: auto;
margin-right: auto;
}
.article-author {
width: 50%;
float: left;
}
.article-created-date {
text-align: right;
}
.content{
 width: 960px;
 margin-left: auto;
 margin-right: auto;
}
.fold-buttons{
 text-align: right;
}
.one-post .fold-button{
innerHTML="Свернуть"
}
.one-post.folded .fold-button{
innerHTML="развернуть"
}
.one-post .article-author{
display: block;
}.one-post .article-text{
display: block;
}.one-post .article-created-date{
display: block;
}
.one-post.folded .article-author{
display: none;
}
.one-post.folded .article-created-date{
display: none;
}
.one-post.folded .article-text{
display: none;
}
.one-post-shadow {
position: absolute;
top: 0;
left: 0;
height: 100%;
width: 100%;
background: blue;
z-index: -1; /* это свойство «отодвигает» элемент на задний план */
}