body {
 background: black;
 font-family: Tahoma, Arial, sans-serif;
 color: #333;
 color: white;
}
p {
 font-size: 14px;
 margin-bottom: 0;

}
h1 {
 font-family: Bastion;
}
a{
 color: red;
}
.header img {
 display: block;
 width: 318px;
 margin-left: auto;
 margin-right: auto;
}
.content {
width: 960px;
margin-left: auto;
margin-right: auto;
}
.article-author {
width: 50%;
float: left;
}
.article-created-date {
text-align: right;
}

